/***********************************
GLOBAL
***********************************/
:root {
    --rouge120: #D80E41;
    --rouge110: #E20D42;
    --rouge100: #EC0B43;
    --rouge10: #FEE7ED;
    --bleu100: #1A62C6;
    --bleu10: #E9F0FA;
    --noir100: #242930;
    --blanc10: #F6F9FD;
    --blanc: #FFF;
    --ff: 'Be Vietnam Pro', sans-serif
}

*, #root {
    font-family: var(--ff) !important;
}


/***********************************
COLORS
***********************************/
.v-main {
    background: var(--blanc) !important
}

#root .v-application .blue--text,
#root .v-application .indigo--text,
#root .v-application .primary--text,
#root .v-application .teal--text.pb-2 {
    color: var(--noir100) !important
}

#root .v-application .teal.lighten-5 {
    background: var(--bleu10) !important;
    border-color: var(--bleu10) !important
}

#root .v-application .teal,
#root .v-application .teal--text.text--darken-2,
#root .v-application i.teal--text {
    color: var(--bleu100) !important
}

#root .v-application i.indigo--text {
    color: var(--bleu100) !important
}

#root .v-application .blue-grey--text,
#root .v-application .grey--text.text--darken-1 {
    color: var(--noir100) !important;
    caret-color: var(--noir100) !important
}

#root .v-application .primary i {
    color: var(--blanc)
}

#root .v-application .blue.darken-3 {
    background: var(--noir100) !important;
    border-color: var(--noir100) !important
}

#root .v-application .blue.darken-2 {
    background: #ff0 !important;
    border-color: #ff0 !important
}

#root .v-application .blue-grey.darken-2,
#root .v-application .primary {
    background: var(--bleu100) !important;
    border-color: var(--bleu100) !important
}

#root .v-application .blue.darken-3 {
    background: var(--bleu100) !important;
    border-color: var(--bleu100) !important
}

#root .v-application .blue.darken-2 {
    background: var(--bleu100) !important;
    border-color: var(--bleu100) !important
}

#root .v-application .grey.darken-4-d3,
#root .v-application .grey.darken-4-d4,
#root .v-application .grey.darken-4-l3,
#root .v-application .grey.darken-5,
#root .v-application .teal.darken-1 {
    background-color: var(--noir100) !important;
    border-color: var(--noir100) !important
}

/***********************************
HERO
***********************************/
#app > div.v-application--wrap > main > div > div.container.grey.pa-0.container--fluid.lighten-4 > div {
    height: 280px !important
}

#app > div.v-application--wrap > main > div > div.container.grey.pa-0.container--fluid.lighten-4 > div > div > div.headline.grey--text.text--darken-3 {
    font-size: 3.5rem !important;
    font-weight: 500;
    line-height: 4.25rem;
    color: var(--noir100);
    font-family: var(--ff) !important;
}

/***********************************
HEADER
***********************************/
#discussion .comments-header i,
.v-main .contents,
.v-main .contents h1,
.v-main .contents h2,
.v-main .contents h2:root .theme--dark,
.v-main .contents h3,
.v-main .contents h3:root .theme--dark,
.v-main .contents h4,
.v-main .contents h4:root .theme--dark,
.v-main .contents h5,
.v-main .contents h5:root .theme--dark,
.v-main .contents h6,
.v-main .contents h6 + hr.footnotes-sep,
.v-main .contents h6:root .theme--dark {
    color: var(--noir100)
}

.v-main .contents h1,
.v-main .contents h2,
.v-main .contents h3,
.v-main .contents h4 {
    font-weight: 500;
    letter-spacing: -2px
}

.v-main .contents h1 {
    font-size: 4.5rem;
    line-height: 5.375rem
}

.v-main .contents h2 {
    font-size: 2.125rem;
    line-height: 2.75rem;
    margin-top: 30px
}

.v-main .contents h3 {
    font-size: 1.5rem;
    line-height: 2.25rem
}

.v-main .contents h4 {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.v-main .contents h5 {
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: -2px;
    font-weight: 400
}

.v-main .contents h6 {
    font-size: 1rem;
    letter-spacing: -2px;
    font-weight: 400
}

.v-main .contents h1::after,
.v-main .contents h2::after,
.v-main .contents h3::after,
.v-main .contents h4::after,
.v-main .contents h5::after,
.v-main .contents h6::after {
    display: none
}

/***********************************
LINKS
***********************************/
.v-main .contents a,
.v-main .contents a.is-external-link::after,
.v-main .contents a.is-internal-link.is-invalid-page :root .theme--dark,
.v-main .contents blockquote::before {
    color: var(--bleu100)
}

.v-main .contents a.is-external-link,
.v-main .contents a.is-internal-link {
    color: var(--bleu100);
    position: relative;
    text-decoration: none
}

.v-main .contents a.is-external-link::before,
.v-main .contents a.is-internal-link::before {
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -2px;
    content: "";
    background: var(--bleu100)
}


/***********************************
CONTENT
***********************************/
#root .v-application .overline,
#root .v-application .v-btn__content {
    text-transform: none;
    letter-spacing: 0 !important;
    font-family: var(--ff) !important
}

.v-main .contents p {
    line-height: 28px
}

.v-main .contents hr {
    height: 1px;
    border: none;
    background-color: var(--noir100)
}

.v-main .contents blockquote {
    border-left: 2.5px solid var(--noir100);
    border-radius: 0;
    margin: 1rem 2rem;
    background: 0 0;
    color: var(--noir100)
}

.v-main .contents ul:not(.tabset-tabs),
.v-main .contents ul:not(.tabset-tabs):not(.contains-task-list) {
    list-style: none
}

.v-main .contents ul:not(.tabset-tabs):not(.contains-task-list) > li::before {
    content: '\25CF';
    color: var(--noir100)
}

.v-main .contents code {
    background-color: red;
    padding: 0 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
    box-shadow: none
}

.v-main .contents .prismjs {
    background: var(--noir100)
}


/***********************************
COMMENTS
***********************************/
.comments-container {
    border-radius: 6px;
    border: 1px solid #bdbfc1
}

#discussion .comments-header {
    color: var(--noir100);
    padding: 16px 20px;
    border-radius: 6px 6px 0 0;
    background: var(--blanc);
    border-bottom: 1px solid #bdbfc1
}

#discussion .comments-main {
    background-color: var(--blanc);
    border-radius: 0 0 7px 7px
}

/***********************************
BUTTONS
***********************************/
#discussion button {
    border-radius: 100px !important;
    letter-spacing: 0 !important
}

#discussion button i::before {
    font-size: 16px !important
}

#discussion button.v-icon {
    padding: 10px
}
